
.navbar{
    border-top-left-radius:     0px 0px;
    border-top-right-radius:    0em 5em;
    border-bottom-right-radius: 1em 5em;
    border-bottom-left-radius:  1em 5em;
}

.logo {
    
    
    border-top-left-radius:     0px 0px;
    border-top-right-radius:    0em 5em;
    border-bottom-right-radius: 0em 5em;
    border-bottom-left-radius:  5em 5em;
    padding:2px 15;
    margin: 0px;
    }