
<section class="content">
    <h2 style="text-align: center">Informacion del Manipulador</h2>

      <div class="row">
        <div class="col-md-6">
          <div class="box-body">
            <h4 style="text-align: left">Datos Personales</h4>
            <div class="form-group">
                <label>Identificacion de Manipulador</label>
                <input disabled name="identificacion" class ="form-control" [(ngModel)]="persona.identificacion">
              </div>
            <div class="form-group">
              <label>Nombre:</label>
              <input disabled name="nombre" class ="form-control" [(ngModel)]="persona.nombre">
            </div>
            <div class="form-group">
              <label>Apellidos:</label>
              <input disabled name="apellido" class ="form-control" [(ngModel)]="persona.apellido">
              
            </div>
            <div class="form-group">
              <label for="edad">Edad:</label>
              <input disabled name="edad" class ="form-control" [(ngModel)]="persona.edad">
              
            </div>
            <div class="form-group">
              <label for="sexo">Sexo:</label>
              <input disabled name="sexo" class ="form-control" [(ngModel)]="persona.sexo">
              
            </div>
            <div class="form-group">
              <label for="estadoCivil">Estado Civil:</label>
              <input disabled name="estadoCivil" class ="form-control" [(ngModel)]="persona.estadoCivil">
              
            </div>
            <div class="form-group">
              <label for="paisDeProcedencia">Pais de procedencia:</label>
              <input disabled name="paisDeProcedencia" class ="form-control" [(ngModel)]="persona.paisDeProcedencia">
              
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-body">
            <h4 style="text-align: left;">Conocimientos</h4>
            <div class="form-group">
              <label for="conocimiento1">¿Conoce las normas de higiene para manipulación de alimentos?:</label>
              <input disabled name="conocimiento1" class ="form-control" [(ngModel)]="persona.conocimiento1">
              
            </div>
            <div class="form-group">
              <label for="conocimiento2">¿Ha recibido  capacitación sobre buenas prácticas de manufactura?:</label>
              <input disabled name="conocimiento2" class ="form-control" [(ngModel)]="persona.conocimiento2">
              
            </div>
            <div class="form-group">
              <label for="conocimiento3">¿De qué trata la  resolución 2674 del 2013?:</label>
              <input disabled name="conocimiento3" class ="form-control" [(ngModel)]="persona.conocimiento3">
              
            </div>
            <div class="form-group">
              <label for="conocimiento4">¿Qué tipo de contaminación de los alimentos conoce?:</label>
              <input disabled name="conocimiento4" class ="form-control" [(ngModel)]="persona.conocimiento4">
              
            </div>
            <div class="form-group">
              <label for="conocimiento5">¿Sabe qué es un alimento inocuo?:</label>
              <input disabled name="conocimiento5" class ="form-control" [(ngModel)]="persona.conocimiento5">
             
            </div>
            <div class="form-group">
              <label for="conocimientoExplicacion">En caso afrimativo, la explicación ¿Fue correcta?:</label>
              <input disabled name="conocimientoExplicacion" class ="form-control" [(ngModel)]="persona.conocimientoExplicacion">
              
            </div>
            <div class="form-group">
              <label for="nivelEducativo">Nivel Educativo:</label>
              <input disabled name="nivelEducativo" class ="form-control" [(ngModel)]="persona.nivelEducativo">
              
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-body">
            <h4 style="text-align: left;">Actitudes</h4>
            <div class="form-group">
              <label for="actitud1">¿Considera necesaria una capacitación sobre normas de higiene y manipulación de alimentos para mejorar sus procesos y su negocio?:</label>
              <input disabled name="actitud1" class ="form-control" [(ngModel)]="persona.actitud1">
              
            </div>
            <div class="form-group">
              <label for="actitud2">¿Ha renovado el último año su certificado médico?:</label>
              <input disabled name="actitud2" class ="form-control" [(ngModel)]="persona.actitud2">
              
            </div>
            <div class="form-group">
              <label for="actitud3">¿Se ha realizado los exámenes para manipuladores de alimentos (KOH de uñas, Frotis de garganta y coprológico?:</label>
              <input disabled name="actitud3" class ="form-control" [(ngModel)]="persona.actitud3">
              
            </div>
            <div class="form-group">
              <label for="actitudExplicacion">En caso afirmativo ¿hace cuánto? :</label>
              <input disabled name="actitudExplicacion" class ="form-control" [(ngModel)]="persona.actitudExplicacion">
              
            </div>
            <div class="form-group">
              <label for="actitud5">¿¿Considera que manipular alimentos con las uñas largas y pintadas puede ser inapropiado?:</label>
              <input disabled name="actitud5" class ="form-control" [(ngModel)]="persona.actitud5">
              
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box-body">
            <h4 style="text-align: left;">Practicas</h4>
            <div class="form-group">
              <label for="practica1">¿Utiliza bata,  tapa bocas y malla para cubrir el cabello mientras manipula alimentos?:</label>
              <input disabled name="practica1" class ="form-control" [(ngModel)]="persona.practica1">
              
            </div>
            <div class="form-group">
              <label for="practica2">¿Manipula alimentos y dinero al mismo tiempo?:</label>
              <input disabled name="practica2" class ="form-control" [(ngModel)]="persona.practica2">
              
            </div>
            <div class="form-group">
              <label for="practica3">¿Con qué frecuencia se lava las manos para manipular alimentos?:</label>
              <input disabled name="practica3" class ="form-control" [(ngModel)]="persona.practica3">
              
            </div>
            <div class="form-group">
              <label for="practica4">Al momento de preparar alimentos ¿retira sus prendas?:</label>
              <input disabled name="practica4" class ="form-control" [(ngModel)]="persona.practica4">
              
            </div>
            <div class="form-group">
              <label form="actitud6">¿Considera que el uso de prendas puede afectar negativamente el proceso de manipulación de alimentos?:</label>
              <input disabled name="actitud6" class ="form-control" [(ngModel)]="persona.actitud6">
              
            </div>
            <div class="form-group">
                <label></label>
                <button class="btn btn-primary form-control" (click)="atras()" >VOLVER   </button>
              </div>
          </div>
        </div>
        
      </div>
      
        
     
</section>
