<section class="content">
    <div class="row">
        <div class="col-md-12">
            <h6 style="text-align:left" style="color: green;">Item 1: ¿En su hogar convive con animales de fauna silvestre?</h6>
            <h6 style="text-align:left" style="color: green;">Item 2: Indique la especie y la cantidad con la que convive, si cuentas con más de 1 especie especifiqué la cantidad de cada una.</h6>
            <h6 style="text-align:left" style="color: green;">Item 3: De los animales silvestres que usted tiene en casa, ¿Con que frecuencia los desparasita?</h6>
            <h6 style="text-align:left" style="color: green;">Item 4: De los animales silvestres que usted tiene en casa, ¿Con que frecuencia los vacuna?</h6>
            <h6 style="text-align:left" style="color: green;">Item 5: ¿Cuánto tiempo tiene usted conviviendo con este o estos animales de fauna silvestre?</h6>
            <h6 style="text-align:left" style="color: green;">Item 6: El animal en cautiverio recibe de los alimentos consumidos por los integrantes del hogar?
                Aquellos alimentos que no sean pertenecientes a la dieta normal de la especie en su hábitat natural.   Ejemplo: panes, carnes condimentadas, galletas etc.</h6>
            
        </div>
    </div>
    <br> <br>
    <div class="row">
        
        <div class="col-md-8">
            <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Buscar por Manipulador">
        </div>
        <div class="col-md-4">
            <h4 style="text-align: center">SISTEMA DE FILTRADO</h4>
        </div>

    </div>
<hr>
    <table class="table table-striped" *ngIf='veterinaria && veterinaria.length'> 
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Codigo de Manipulador</th>
                <th scope="col">Nombre de Manipulador</th>
                <th scope="col">Item 1</th>
                <th scope="col">Item 2</th>
                <th scope="col">Item 3</th>
                <th scope="col">Item 4</th>
                <th scope="col">Item 5</th>
                <th scope="col">Item 6</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let veterinaria of veterinaria; index as i">
                <th scope="row">{{ i + 1}}</th>
                <td>{{veterinaria.codigoManipulador}}</td>
                <td>{{veterinaria.nombreManipulador}}</td>
                <td>{{veterinaria.item1}}</td>
                <td>{{veterinaria.item2}}</td>   
                <td>{{veterinaria.item3}}</td>
                <td>{{veterinaria.item4}}</td>
                <td>{{veterinaria.item5}}</td>
                <td>{{veterinaria.item6}}</td>
                
            </tr>
        </tbody>
    </table>
</section>